@charset "utf-8";

body, html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
	margin:0 auto;
    padding:0;
    max-width: 800px;
    line-height: 1.6;
    text-align: center;
}/* reset the default styles */

/* header */

.header__title{
    font-weight: normal;
}
.header__tagline{
    font-size: 14px;
    padding-bottom: 50px;
}

/*segmented control*/

.container{
    padding:20px;
    margin:20px 0;
    max-width: 400px;
    margin-left:auto;
    margin-right:auto;
}

.segmented {
    display:flex;
    flex-flow:row wrap;
    box-sizing:border-box;
    font-size:90%;
    text-align:center;
}
.segmented label {
    display:block;
    flex:1;
    box-sizing:border-box;
    border:1px solid #167efb;
    border-right:none;
    color:#167efb;
    margin:0;
    padding:5px;
    cursor: pointer;
    user-select:none;
    -webkit-user-select:none;
}
.segmented label.checked {
    background:#167efb;
    color:#fff;
}

.segmented label:first-child {
    border-radius:5px 0 0 5px;
    border-right:0;
}
.segmented label:last-child {
    border-radius:0 5px 5px 0;
    border-right:1px solid;
}
.segmented input[type="radio"] {
    appearance: none;
    -webkit-appearance:none;
    margin:0;
    position: absolute;
}

/* table */

.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}
.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 5px 10px;
  overflow: hidden;
  list-style: none;
  border: 1px solid #e6e6e6;
}

/* Table column sizing*/
.Rtable--4cols > .Rtable-cell {
  width: 25%;
}

/* Apply styles*/
.Rtable {
  position: relative;
  top: 3px;
  left: 3px;
}
.Rtable-cell {
  /* margin: -3px 0 0 -3px; */
}

/* Cell styles */
.Rtable-cell--head {
  border-color: #e6e6e6;
}

.Rtable-cell--foot {
  border-color: #e6e6e6;
}

.button{
    width: 100px;
    height: 20px;
    padding:5px 30px; 
	color: #167efb;
    border: 1px solid #167efb;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
	display: inline-block;
}

/* Responsive*/
@media only screen and (max-width: 768px) {
  .Rtable--collapse {
    display: block;
  }
  .Rtable--collapse > .Rtable-cell {
    width: 100% !important;
  }
  .Rtable--collapse > .Rtable-cell--foot {
    margin-bottom: 16px;
  }
  .column--one{
      display: none;
  }

}

.no-flexbox .Rtable {
  display: block;
}
.no-flexbox .Rtable > .Rtable-cell {
  width: 100%;
}
.no-flexbox .Rtable > .Rtable-cell--foot {
  margin-bottom: 1em;
}

