@charset "utf-8";

body, html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
	margin:0 auto;
    padding:0;
    max-width: 800px;
    line-height: 1.6;
    text-align: center;
}/* reset the default styles */

/* header ----------------------------------------------------------------- */

.header__title{
    font-weight: normal;
}
.header__tagline{
    font-size: 14px;
}

/*segmented control*/

.container{
    padding:20px;
    margin:20px 0;
    max-width: 400px;
    margin-left:auto; /* keep button in center */
    margin-right:auto; /* keep button in center */
}

.segmented {
    display:flex;
    flex-flow:row wrap;
    box-sizing:border-box;
    font-size:90%;
    text-align:center;
}
.segmented label {
    display:block;
    flex:1;
    box-sizing:border-box;
    border:1px solid #0063cf;;
    border-right:none;
    color:#167efb;
    margin:0;
    padding:5px;
    cursor: pointer;
    user-select:none;
    -webkit-user-select:none;
}
.segmented label.checked {
    background:#0063cf;
    color:#fff;
}

.segmented label:first-child {
    border-radius:5px 0 0 5px;
    border-right:0;
}
.segmented label:last-child {
    border-radius:0 5px 5px 0;
    border-right:1px solid;
}
.segmented input[type="radio"] {
    -webkit-appearance:none;
    margin:0;
    position: absolute;
}

.pos_relative {
    position:relative;
}
.annualBtn-tag {
    font-size: 8px;
    background-color: #e4c02a;
    color:black;
    margin:0;
    padding:2px 10px;
    width:50%;
    position: absolute;
    left: 20%;
}

/* table ------------------------------------------------------------------- */

.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 36px 0;
  padding: 0;
  position: relative;
  top: 3px;
  left: 3px;
}

.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 5px 10px;
  overflow: hidden;
  list-style: none;
  border: 1px solid #e6e6e6;
}

.cell__description {
    font-size: 12px;
}
.cell__description--price {
    font-size: 10px;
}
.bg-cell {
    background-color: #f9f9f9;
}

/*table first column*/
.column--one{
    width:22%;
    padding-left:2%;
    text-align: left;
    font-size: 12px;
}


/* Table 2-4 column*/
.column--free, .column--premium, .column--enterprise {
  width: 26%;
}

.button {
    width: 100px;
    height: 20px;
    padding:3px 25px;
    margin-top:10px;
    margin-bottom:20px;
	color: #0063cf;
    border: 1px solid #0063cf;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
	display: inline-block;
}

/* table header*/
hr{
    border: 1px solid #e6e6e6;
    margin:0 10%;
}

.cell-head-tag {
    font-size: 10px;
    background-color: #0063cf;
    color:white;
    margin:0;
    padding:5px 0;
    width: 100%;
    position: absolute;
    top:-12px;
    left:0;
}

/* column Premium */
.premium--head, .column--premium {
    border-left-color: #0063cf;
    border-right-color: #0063cf;
}
.premium--head {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.bottom-line {
    border-bottom-color: #0063cf;
}
.blue {
    color: #0063cf;
}
.bg-blue {
    background-color: #0063cf;
    color: white;
}

/* Responsive ------------------------------------------------------------ */
@media only screen and (max-width: 768px) {
    .Rtable {
      padding: 0 10%;  
    }
    .Rtable--collapse {
    display: block;
    }
    .Rtable--collapse > .Rtable-cell {
        width: 100% !important;
    }
    .Rtable--collapse > .Rtable-cell--foot {
        margin-bottom: 32px;
    }
    .column--one{
        display: none;
    }
    .Rtable-cell--head {
        background-color: #0063cf;
        color: white;
    }
    .blue {
        color: white;
    }

    /* Premium column head tag */
    .cell-head-tag {
        border:2px solid white;
        width: 99%;
        left: 0;
        b
    }

}

